body
{
background:cover;
}
.heading{
    width:100%;
    text-align:left;
}
#restart{
    background-image:url("swap-arrows-refresh.jpg") ;
    background-size:cover;
    width:100px;
    height:100px;
}
.copy-right-footer{
    width:100%;
    background-color:aqua;
    line-height:3;
}
#instructions{
    float:right;
}
.heading h3{
    display:inline;
}
.modal-body{
    text-align:left;
}
.modal-dialog{
    width:70%;
}
canvas{
    box-shadow:3px 3px 3px 3px red;
}